<!DOCTYPE html>
<html ng-app="airdna">
  <head>
    <title>{{title}}</title>
    <!-- font-awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">



    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>

    <!-- Highcharts -->
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3_vklrmidqHqKCkQWiouLCyQ_I_KTYtE"></script>
    <script src="/javascripts/map/ngmap.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- ng-Route -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

    <!-- google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- STYLES -->
    <!-- local css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Angular Material CSS -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

    <!-- font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <base href='/'>

  </head>
  <body ng-cloak>

    <ng-view> </ng-view>

    <!-- scripts -->
    <script type="text/javascript" src="/javascripts/app.js"></script>

    <!-- main -->
    <script type="text/javascript" src="/javascripts/main/main.controller.js"></script>
    <script type="text/javascript" src="/javascripts/main/main.service.js"></script>
    <script type="text/javascript" src="/javascripts/main/directive.js"></script>

    <!-- chart -->
    <script type="text/javascript" src="/javascripts/chart/charts.js"></script>
    <script type="text/javascript" src="/javascripts/chart/chart.service.js"></script>







  </body>
</html>
