body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  max-width: 25%;
  padding-left: 2%;
}

h3 {
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
}

#monthly {
  align-items: center;
}
